# Ignore IDEA project directory
.idea/*

# Ignore Gradle project-specific cache directory
.gradle/*

# Ignore Gradle build output directory
build/*

# Ignore Gradle project-specific cache directory for buildSrc
buildSrc/.gradle/*

# Ignore Gradle build output directory for buildSrc
buildSrc/build/*
